<div class="flex justify-center my-20">
  <img src="../../assets/Pokédex_logo.png" alt="logo pokedex" />
</div>

<div class="flex gap-4 my-10 justify-center">
  <input
    class="text-white px-2 py-1 bg-[#2E3353] shadow-2xl rounded-lg ring-1 ring-black ring-opacity-15 border-none text-lg outline-none focus:ring-red-500"
    type="text"
    placeholder="Salamèche"
    [(ngModel)]="search"
    (ngModelChange)="onGetByName($event)"
  />
</div>
<div
  class="font-dm grid grid-cols-2 max-w-xs md:grid md:grid-cols-4 md:max-w-2xl lg:grid lg:grid-cols-5 lg:max-w-5xl mx-auto gap-5"
>
  @for (p of pokemon(); track p) {
  <app-card
    [name]="p.name.fr"
    [height]="p.height"
    [weight]="p.weight"
    [category]="p.category"
    [stats]="p.stats"
    [sprites]="p.sprites"
    [types]="p.types"
  >
  </app-card>
  }
</div>

@if (search === '') {
<div class="flex flex-wrap justify-center mx-auto gap-2 my-10">
  @for(a of pokemonList(); track a; let i =$index) {
  <button
    (click)="onChunkClick(i)"
    class="rounded-lg h-6 w-6 bg-yellow-500 text-white"
    href=""
  >
    {{ i + 1 }}
  </button>

  }
</div>
}
